@import '../colors';
@import '../bg-element';

.chat {
   display: flex;
   justify-content: space-between;
   height: calc(100vh - 198px);
   min-height: 580px;
   &__content {
      display: flex;
      flex-direction: column;
      width: calc(70% - 7px);
   }
   &__content-top {
      position: relative;
      overflow: hidden;
   }
   &__messages {
      display: flex;

      border: 6px solid $secondary-color;
      background: $background-window-color;
      backdrop-filter: blur(5.5px);
      height: 100%;
      &::after {
         @include bg-element($left: -6px, $top: -6px);
      }
      &::before {
         @include bg-element($left: -6px, $bottom: -6px);
      }
   }
   &__messages-inner {
      display: flex;
      width: 100%;
      &::after {
         @include bg-element($right: -6px, $top: -6px);
      }
      &::before {
         @include bg-element($right: -6px, $bottom: -6px);
      }
   }
   &__messages-container {
      display: flex;
      flex-direction: column;
      overflow: auto;
      overflow-x: hidden;
      width: 100%;
      padding: 32px 43px;
   }
   &__nav {
      display: flex;

      border: 6px solid $secondary-color;
      background: rgba(255, 255, 255, 0.80);
      position: relative;

      margin-top: 14px;
      &::after {
         @include bg-element($left: -6px, $top: -6px);
      }
      &::before {
         @include bg-element($left: -6px, $bottom: -6px);
      }
   }
   &__nav-inner {
      display: flex;
      width: 100%;
      &::after {
         @include bg-element($right: -6px, $top: -6px);
      }
      &::before {
         @include bg-element($right: -6px, $bottom: -6px);
      }
      textarea {
         width: 100%;
         font-size: 16px;

         padding: 23px 29px;
         margin-right: 3px;
         &::placeholder {
            color: #8E5FC0;
         }
      }
      button {
         width: auto;
      }
   }
   &__list {
      display: flex;
      flex-direction: column;
      width: calc(30% - 7px);

      border: 6px solid $secondary-color;
      position: relative;
      background: rgba(255, 255, 255, 0.80);
      &::after {
         @include bg-element($left: -6px, $top: -6px);
      }
      &::before {
         @include bg-element($right: -6px, $top: -6px);
      }
   }
   &__list-inner {
      display: flex;
      flex-direction: column;
      height: 100%;
      &::after {
         @include bg-element($right: -6px, $bottom: -6px);
      }
      &::before {
         @include bg-element($left: -6px, $bottom: -6px);
      }
   }
   &__list-title {
      font-size: 18px;
      color: $secondary-color;
      padding: 32px;

      position: relative;
      border-bottom: 6px solid $secondary-color;
      &::after {
         @include bg-element($right: -6px, $bottom: -6px);
      }
      &::before {
         @include bg-element($left: -6px, $bottom: -6px);
      }
   }
   &__list-content {
      display: flex;
      flex-direction: column;
      overflow: auto;
      height: 100%;
      padding: 32px;
   }
   &__out {
      display: flex;
      justify-content: center;
      padding: 32px;
      button {
         display: flex;
         align-items: center;
      }
      span {
         font-size: 16px;
         color: $secondary-color;
         
         margin-right: 12px;
      }
   }
   &__empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      font-size: 18px;
      font-weight: 700;
      color: $white;
   }
}

@media (max-width: 1280px) {
   .chat {
      &__list {
         display: none;
      }
      &__content {
         width: 100%;
      }
   }
}

@media (max-width: 768px) {
   .chat {
      height: calc(100vh - 153px);
      &__messages-container {
         padding: 24px 16px;
      }
      &__nav-inner {
         textarea {
            font-size: 14px;
            padding: 16px;
         }
      }
   }
}