.logo {
   display: flex;
   align-items: center;
   img {
      width: 38px;
      height: 51px;
   }
   h1 {
      font-size: 30px;
      margin-left: 32px;
      margin-bottom: 0;
   }
}

@media (max-width: 768px) {
   .logo {
      h1 {
         font-size: 26px;
         margin-left: 24px;
      }  
   }
}