@import '../colors';
   
.message {
   display: flex;
   margin-bottom: 24px;
   &:last-child {
      margin-bottom: 0;
   }
   &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 89px;
      min-width: 89px;
      margin-right: 35px;
   }
   &__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background: $background-avatar-color;
      width: 89px;
      min-width: 89px;
      height: 85px;
      padding-left: 4px;
      padding-bottom: 4px;
      margin-bottom: 8px;
      &::after {
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         width: 4px;
         height: calc(100% - 4px);
         background: #90839E;
      }
      &::before {
         content: '';
         position: absolute;
         left: 4px;
         bottom: 0;
         width: calc(100% - 4px);
         height: 4px;
         background: #90839E;
      }
      img {
         width: 85px;
         height: 85px;
         object-fit: cover;
      }
      &--default {
         img {
            width: 61px;
            height: 61px;
         }
      }
   }
   &__name {
      font-size: 10px;
      line-height: 16px;
      color: #fff;
      text-align: center;
      word-break: break-word;
   }
   .nes-balloon {
      padding: 16px 24px;
      margin: 0;
      margin-bottom: 28px;
      white-space: break-spaces;
      word-break: break-word;
   }
}

@media (max-width: 768px) {
   .message {
      &__info {
         width: 51px;
         min-width: 51px;
         margin-right: 24px;
      }
      &__avatar {
         width: 51px;
         min-width: 51px;
         height: 51px;
         padding-left: 3px;
         padding-bottom: 3px;
         &::after {
            width: 3px;
            height: calc(100% - 3px);
         }
         &::before {
            width: calc(100% - 3px);
            height: 3px;
            left: 3px;
         }
         img {
            width: 48px;
            height: 48px;
         }
      }
      .nes-balloon {
         padding: 12px 13px;
         margin-bottom: 16px;
      }
   }
}