@import '../colors';

.user {
   display: flex;
   align-items: center;
   margin-bottom: 24px;
   &:last-child {
      margin-bottom: 0;
   }
   &__avatar {
      width: 36px;
      height: 36px;
      img {
         width: 36px;
         height: 36px;
         object-fit: cover;
      }
   }
   &__name {
      color: $secondary-color;

      margin-left: 20px;
   }
}