/* default colors */
$white: #fff;
$black: #000;

/* main colors */
$primary-color: #4F3260;
$secondary-color: #1C0B26;

$name-color: #C5C5C5;
$input-placeholder-color: #9D94A8;
$input-text-color: #372849; 

$btn-background-color: #8E5FC0;

$background-window-color: rgba(34, 31, 40, 0.50);

$background-avatar-color: #605171;